<% @domains.each do |domain| %>

	<div id="<%=domain.domain%>" class="domain">
		<div class="domain_title">
			<%= link_to domain.domain, domain %>
		</div>
		<div class="domain_information">
			Email Addresses: <%= domain.users.count %>
		</div>
	</div>
	
<% end %>